
nav{
    width: 100%;
    display: flex;
    padding: 10px 20px 0 20px;
   
    background:var(--PrimaryColor);
    
    
}

ul{
    display: none;

}

li:hover{
    cursor: pointer;
    scale: 105%;
    border-bottom: 2px solid var(--PrimaryColor);
}


/* 
nav{
    display: none;
} */

img{
    height: 60px;
    width: 60px;
    padding-bottom: 10px;
}

@media screen and (min-width:576px) {
    img{
        height: 65px;
        width:65px;

    }
 
}

@media screen and (min-width:720px){
    nav{
        justify-content:space-around;
        padding-left: 10px;
        position: relative;
        background:whitesmoke;
      
        align-items: center;
        text-align: center;
    }
    ul{
        display: flex;
        list-style: none;
        font-weight: 500;
    }
}

@media screen and (min-width:992px) {
    img{
        width: 75px;
        height: 75px;
    }

    ul{
        font-size: 15px;
    }
    
}

@media screen and (min-width: 1200px){
    ul{
        font-size: 18px;
    }

    img{
        width: 90px;
        height: 90px;
    }


}