/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root{
    --PrimaryColor:#188AC7;
    --SecondColor:#0B66D6;
    --rbgaPrimaryColor:rgba(11,102,214,0.2)
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 18px;
    font-weight: 500;
}
hr{
    width: 80%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
