/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root{
    --PrimaaryColor:rgb(238,188,29);
    --SecondColor:rgb(235 201 102);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 18px;
    font-weight: 500;
}
hr{
    width: 80%;
}