

button{
    width: 120px;
    height: 30px;
    margin: 5px;
    display: block;
    padding: 5px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(0deg, rgba(24,138,199,1) 14%, rgba(18,121,206,1) 23%, rgba(11,102,214,1) 35%, rgba(0,212,255,1) 95%);
    
}

button:hover{
    cursor: pointer;
}